# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/Linux/LibConnect_Linux/obj/x86/Debug
/Linux/LibConnect_Linux/obj/x86/Debug/LibConnect_Linux.log
/Linux/LibConnect_Linux/obj/x86/Debug/LibConnect_Linux.log
*.log
/Win32/.vs/LibConnect/v15
/.vs/LibConnect/v15/.suo
/.vs/LibConnect/v15/Browse.VC.db
/.vs/LibConnect/v15/Browse.VC.opendb
/.vs/LibConnect/v15/Solution.VC.db
/.vs/LibConnect/v15/Solution.VC.db-shm
/.vs/LibConnect/v15/Solution.VC.db-wal
